html,
body {
  padding: 0;
  margin: 0;
  font-family:  Ubuntu, -apple-system,
     sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

*, *::after,
*::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


:root {
  --main-color: #6666ff;
  --sec-color: #ffcc00;
}

::selection{
  background-color: var(--sec-color);
  color: var(--main-color);
}


